<% @rsvps.order("created_at ASC").each do |rsvp| %>
<div class="rsvp">
  <div class="buttons">
         <%= link_to 'Delete', [@rsvpable, rsvp], method: :delete, data: { confirm: 'Are you sure you want to delete ' + rsvp.name + "'s rsvp? This action cannot be undone." } %>
  </div> <!-- buttons -->
  <p><%= rsvp.name %> <em>(<%= rsvp.transportation %>)</em> </p>
    </div>  <!-- rsvp -->
<% end %>

